---
- name: metro git repo
  shell: |
    /usr/bin/git clone https://code.funtoo.org/bitbucket/scm/core/metro.git /root/metro
  register: out
- debug: var=out.stdout_lines

- name: metro config
  copy:
    src: /root/metro/metro.conf
    dest: /root/.metro
    remote_src: yes
  register: out
- debug: var=out.stdout_lines
